#-----------------------------------------------------------------------------
# R specific files   
#-----------------------------------------------------------------------------
# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

#-----------------------------------------------------------------------------
# Project specific directories   
#-----------------------------------------------------------------------------
UCI\ HAR\ Dataset

#-----------------------------------------------------------------------------
# Project specific files
#-----------------------------------------------------------------------------
human_activity_recognition_data.zip
human_activity_recognition_codebook.html

#-----------------------------------------------------------------------------
# General files
#-----------------------------------------------------------------------------
*.xls
*.xlsx
*.pdf
*.doc
*.docx
*.bak
*.zip
.Rproj.user
